.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 15px;
    row-gap: 40px;
    justify-content: center;
}

.item {
    border-radius: 25px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.level-1 {
    grid-row-end: span 3;
}

.level-2 {
    grid-row-end: span 2;
}

.level-3 {
    grid-row-end: span 1;
}